mujoco==3.2.1
pyautogui
matplotlib
scipy
safetensors==0.5.3
datasets==3.4.1
pyarrow==18.0.0
torch==2.7.1 --index-url --index-url https://download.pytorch.org/whl/cu128
torchvision==0.22.1 --index-url https://download.pytorch.org/whl/cu128
transformers==4.50.3
git+https://github.com/huggingface/lerobot.git@10b7b3532543b4adfb65760f02a49b4c537afde7#egg=lerobot